# garbage dependencies that should not be uploaded
node_modules/
/.pnpm-store
.env
.env.local
.env.production
.env.development

# Hasil build otomatis
.next/
out/
build/
dist/

# File log dan sampah sistem
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.local

